@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-shadow: 3px 3px 4px black;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right top, #51224c, #5a345b, #63466a, #6d5778, #786986, #7a667c, #796474, #76626c, #604e4f, #473d39, #2e2b27, #1a1a19);
    font-family: 'Oxygen', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100vh;
}

#arena {
    width: 400px;
    height: 600px;
    border: 3px solid black;
    padding: 15px;
    background-image: url("arena.jpg");
    background-size: cover;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid white;
}

button:focus {
    outline: none;
}

#increment-btn {
    background: #63548b;
}

#save-btn {
    background: #51224c;
}


